# train_dir
./train_dir/
./train_dir/*

# dev_dir
./dev_dir/
./dev_dir/*
#
# test_dir
./test_dir/
./test_dir/*

# some temp data
*.zip
*.tsv
*.txt
*.pkl
*.bin
*.model
# python temp file
*.pyc
*.class
